body{
    margin: 0px;
}

/* Body Header */

#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(image/macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Horizontal Lists */

.horizontal-list{
    list-style: none;
    padding-left: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
}


.horizontal-list li a{
    color: white;
    text-decoration: none;

}

.navigation-menu li a:hover{
    color: lightgrey;
    border-bottom: 1px solid white;
    
}

.text-center{
    text-align: center;
}
#social-list i{
    height: 3rem;

    
    padding: 1rem;
    
}
#myname{
    font-size: 3rem;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
}
.social-icons li a i{
    padding: 0px;
    border-radius: 50%;
    font-size:1rem


}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 10px rgba(230, 196, 196, .8)  ;
    color: thistle;
}
.navigation-menu li a:hover{
    border-bottom: 1px solid ;
    transition: color 0.5s border-bottom 0.4s;


}
#about{
    height: auto;
    width: 100%;
    position: relative;


}
#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    display:block;
    margin-top: -17vh;
}
#my-image img{
    height:100%;
    width:100%;
    border-radius: 50%;
    
    border: solid  whitesmoke;
    border-radius: 100%;
    box-shadow: 0px 0px 4px 2px gray ;

}

#aboutme-text{
    position: static;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;

}
#aboutme-text strong{
    color: royalblue;

}
section{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:center ;

 }
 /*
section:nth-child(2n)
{
    background-color: grey;
}
section:nth-child(2n+1){
    color: white; 
}
*/
.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
}
.section-heading span{
    font-size: 40px;
    color:#2857a4;
    display: inline-block;
    padding: top 10px;
    margin-right: 0.5rem;
}
.skills-display{
    
    width: 70%;
   display:flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.skill-progress{
    width:7rem;
    height:1.4rem;
    background-color: lightgrey;
    border-radius:  0.8rem;

}
.skill-progress>div{
    border-radius: 20px 0px 0px 20px;

}
.skill-name span{
    color:white ;
    font-size: 1rem;
    margin-left: 10px;
    padding: 2px;
    font-weight: 800;

  
}

/* common margin classes */
.mb75px{
    margin: bottom 75px;
}
/* comon color classes */
.mb-blue{
    background-color: blue;
}
.text-highlight{
    color:#2857a4;
    font-weight: 400px;
}
/* Percentage classes */
.eighty-five-percent{
    width: 85%;
    height: inherit;

}
